@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #c5f82a;
  --white: #ffffff;

  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;

  --font-400: 400;
  --font-600: 600;
  --font-700: 700;
}

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
}

h1 {
  font-weight: var(--font-600);
}

.info h2 {
  color: var(--green);
  font-size: 0.875rem;
}

p {
  margin: 24px 0;
  padding: 0 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.card {
  background-color: var(--grey-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 48px;
}

.badge {
  border-radius: 50%;
  width: 100px;
}

.social-links-btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

button {
  all: unset;
  padding: 12px;
  background-color: var(--grey-700);
  color: var(--white);
  border-radius: 8px;
  font-weight: var(--font-600);
}

button:hover {
  color: var(--grey-700);
  background-color: var(--green);
  cursor: pointer;
  transition: 0.1s ease-in;
}

@media (max-width: 375px) {
  .card {
    width: 90%;
  }
}
